body {
    background-color: #121212;
    font-family: sans-serif;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,1)), url(background.jpg);

    background-size: 100%;
    background-repeat: no-repeat;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* by default, everything in main will appear in the center*/
}

